.task-container {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  width: 380px;
  height: 35px;
  padding: 12px;
  border: 1px solid #66FCF1;
  border-radius: 5px;
  margin-bottom: 25px;
  color: #0B0C10;
  background: #FFF;
}
.task-text {
  line-height: 0px;
}
.task-icons-container {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  right: 0;
  margin-top: 9px;
  width: 75px;
  justify-content: space-evenly;
  color: #0B0C10;
}
.edit-task-input {
  width: 200px;
  padding: 9px;
  font-size: 14px;
  font-family: FontAwesome, 'Arial';
}
.edit-task-button {
  padding: 9px;
  background-color: black;
  border: 1px solid #66FCF1;
  border-radius: 5px;
  color: white;
  margin-left: 15px;
}